.site-header{
    color:red;
    justify-items: center;
    background-color: black;
    padding: 1rem;
    /* The nav is the container holding the order of the links */
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        li {
            float: left;
        }
        ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 24px;
        }
        ul li a:hover {
            background-color: #111111;
        }
    /* End of Nav containier */
}

