<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png"  href="/images/Powerdrip.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap" rel="stylesheet">
    
</head>
    <%- include('partials/header') %>

    <body>
        <!-- Condensed the hardcoded header into the partials -->
        <!-- <header>Search bar, shopping cart, account, nav bar....Could just be icons for now</header> -->
        <!-- Big pop up title or logo with the commit crew power drip-->
        <div class="container" >
            <img id="logo" src="/images/LOGO.png" alt="PowerDrip LOGO">
            <p>POWER DRIP is focused on high-quality fitness drinks, protein powders, and performance supplements. PowerDrip is for health-conscious consumers, athletes, and fitness enthusiasts.</p>
        </div>

        <div class="newReleases">
            <div class="pure-g">
                <h1 class="pure-u-1-2" id="newReleaseTitle">New Releases</h1>
                <div class="pure-u-1-2" id="newReleaseProducts">
                    <h2><a href="/products">Products</a></h2>
                </div>
            </div>
            <div class="productCards pure-g">
                <div class="card pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4">
                    <img class="productImages" src="/images/products/product_1.png">
                </div>

                <div class="card pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4">
                    <img class="productImages" src="/images/products/product_2.png">
                </div>

                <div class="card pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4">
                    <img class="productImages" src="/images/products/product_3.png">
                </div>

                <div class="card pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4">
                    <img class="productImages" src="/images/products/product_4.png">
                </div>
            </div>
        </div>

        <div class="reviews">
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
        </div>

        <div class="signup">
            <h2>Sign up for our news letter to get the latest news about Power Drip!</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <button>Submit</button>
        </div>

    </body>
    <%- include('partials/footer') %>
</html>
