<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap" rel="stylesheet">
    
</head>
    <body>
        <header>Search bar, shopping cart, account, nav bar....Could just be icons for now</header>
        <h1>Power Drip</h1> <!-- Big pop up title or logo with the commit crew power drip-->
        <div class="container" >Banner for logo, motto, or etc.. </div>

        <div class="productCards">
            <div class="card">
                Image of drinks or products
            </div>

            <div class="card">
                Image of drinks or products
            </div>

            <div class="card">
                Image of drinks or products
            </div>

            <div class="card">
                Image of drinks or products
            </div>

            <div class="card">
                Image of drinks or products
            </div>
        </div>

        <div class="newProducts">
            Scrollable bar that displays most recent products
        </div>

        <div class="reviews">
            A good review of the product- 4.5 out of 5 stars! by John Doe, This drink changes my life! etc, etc...

        </div>

        <div>
            
        </div>

    </body>
</html>
